/* Don't modify the _sprite.css directly. use gulp icon and sprite.css template */
{{#shapes}}
	{{#first}}

		.icon {
			background-image: url("/assets/images/sprites/{{{sprite}}}");
		}

	{{/first}}

	.icon--{{base}} {
		width: {{width.outer}}px;
		height: {{height.outer}}px;
		background-position: {{position.relative.xy}};
	}
{{/shapes}}